.trending-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    overflow: hidden;
}
.trending-now .details {
    width: 75%;
    align-items: center;
    padding: 5%;
}
.trending-now .details p {
    width: 75%;
    font-size: 1.2vw;
    line-height: 1.5;
    color: rgb(100, 100, 100);
    margin: 20px 0;
}

.trending-now button {
    display: flex;
    justify-content: center;
    overflow: hidden;
    outline: none;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 3vh;
    cursor: pointer;
}
.trending-now h1 {
    font-size: 3.5vw;
}
.trending-now .buttons {
    display: flex;
}
.buy-btn {
    margin-right: 15px;
    color: white;
    background-color: #1E4C2F;
    border: 1px solid #1E4C2F;

}
.buy-btn:hover {
    border: 1px solid #1E4C2F;
    background-color: inherit;
    color: #1E4C2F;
}
.detail-btn {
    background-color: #f7f7f7c9;
    border: 1px solid #1E4C2F;
    color: #1E4C2F;
}
.detail-btn:hover {
    color:white;
    background-color: #1E4C2F;
}
.next-btn {
    transition:ease-in-out 0.5s;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.next-btn:hover {
    left: 50px;
}
@media screen and (max-width: 700px) {
    .trending-now .details {
        padding: 20px 0;
        width: 90%;
        align-items: flex-start;
    }
    .main-image {
        width: 100%;
    }
    .trending-now {
        flex-direction: column;
        background-position: bottom;
        justify-content: flex-start;
        background-size: 0;
        align-items: center;
        margin-bottom: 10px;
    }
    .trending-now h1 {
        font-size: 8vw;
    }
    .trending-now .details p {
        width: 100%;
        font-size: 5vw;
    }
    .trending-now .buttons {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .trending-now .details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .buy-btn {
        margin-right: 0;
    }
  }